<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Drivers</title>
    <link rel="stylesheet" href="/templates/style.css"> <!-- Ensure the path is correct -->
</head>
<body>
<div class="table-wrapper">
    <h1>All Drivers</h1>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>License Number</th>
                <th>Experience (Years)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="driver : ${drivers}">
                <td th:text="${driver.id}">ID</td>
                <td th:text="${driver.name}">Name</td>
                <td th:text="${driver.licenseNo}">License Number</td>
                <td th:text="${driver.experienceInYears}">Experience (Years)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
