<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Parcels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1><span th:text="${title}"></span> <span th:text="${price}"></span></h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Price</th>
                <th>Size</th>
                <th>Fragile</th>
                <th>Order Created</th>
                <th>Planned Delivery</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="parcel : ${parcels}">
                <td th:text="${parcel.getIdpar()}">ID</td>
                <td th:text="${parcel.getPrice()}">Price</td>
                <td th:text="${parcel.getSize()}">Size</td>
                <td th:text="${parcel.fragile ? 'Yes' : 'No'}">Fragile</td>
                <td th:text="${parcel.getOrderCreated}">Order created</td>
                <td th:text="${parcel.getPlannedDelivery()}">Planned delivery date</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
