<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Parcel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Add Parcel</h1>
    <form th:action="@{/parcels/add}" th:object="${parcel}" method="post">
        <div class="form-group">
            <label for="size">Size:</label>
            <select class="form-control" id="size" name="size" th:field="*{size}" required>
                <option value="">Select Size</option>
                <option value="X">X</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select>
            <div th:if="${#fields.hasErrors('size')}" th:errors="*{size}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="isFragile">Fragile (true/false):</label>
            <input type="text" class="form-control" id="isFragile" name="isFragile" th:field="*{fragile}" required>
        </div>
        <div class="form-group">
            <label for="driverId">Driver ID:</label>
            <input type="number" class="form-control" id="driverId" name="driverId" th:field="*{driver.id}" required >
            <div th:if="${#fields.hasErrors('driver.id')}" th:errors="*{driver.id}" class="text-danger"></div>
        </div>

        <button type="submit" class="btn btn-primary">Add Parcel</button>
    </form>
</div>
</body>
</html>
